<div class="row">
  <div class="col">
    <img src="{{Toy.image}}" width="300" height="300" />
  </div>
  <div class="col">
    <h1>{{Toy.name}}</h1>
    <h2>Price: $ {{Toy.price}} </h2>
    <h2>Category: {{Toy.category}}</h2>
     <h2>Quantity: {{Toy.quantity}}</h2>

      <div class="form-group mt-2 mb-2">
           <input class="btn btn-danger" type="submit"  value="Add to card" >
      </div>
  </div>
</div>