<div class="row">
  <div class="col">
    <img src="{{Lego.image}}" width="300" height="300" />
  </div>
  <div class="col">
    <h1>{{Lego.name}}</h1>
    <h2>Price:{{Lego.price}}    $ </h2>
    <h2>Weight:{{Lego.weight}}   kg </h2>
    <h2>height:{{Lego.height}}   cm </h2>

      <div class="form-group mt-2 mb-2">
           <input class="btn btn-danger" type="submit"  value="Add to card" >
      </div>
  </div>
</div>